.filtersContainer {
  width: 40%;
}

.filtersForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  padding: 2%;
}

label {
  font-weight: 600;
  font-size: 18px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
